<?xml version = "1.0" encoding = "UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.livetoyourpassion.words" version = "1.0">
   <name>Tutorials Point</name>
   <description>
      Tutorials Point Online Viewer
   </description>
   <author href = "http://livetoyourpassion.com" email = "contact@livetoyourpassion.com">
      Tutorials Point
   </author>
   <content src="www/index.html" />
   <preference name = "permissions" value = "none"/>
   <access origin="*" />
   <allow-navigation href="*" />
   <allow-intent href="*" />
</widget>