<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.neptune.MyApp" versionCode="100" version="1.0.0">
<author>Me</author>
<name>MyApp</name>
<description>My App</description>

<platform name="android">
    <plugin name="cordova-android-support-gradle-release" source="npm">
        <variable name="ANDROID_SUPPORT_VERSION" value="28.0.0"/>
    </plugin>
</platform>

<preference name="phonegap-version" value="cli-9.0.0" />
<preference name="StatusBarOverlaysWebView" value="false" />
<preference name="fullscreen" value="false" />
<preference name="LoadUrlTimeoutValue" value="70000" />
<preference name="AutoHideSplashScreen" value="false" />
<preference name="ShowSplashScreenSpinner" value="false"/>
<preference name="FadeSplashScreen" value="false"/>
<preference name="SplashShowOnlyFirstTime" value="false" />
<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="DisallowOverscroll" value="true"/>
<preference name="SuppressesLongPressGesture" value="true" />
<preference value="none" name="permissions"/>
<plugin name="cordova-plugin-device" source="npm"/>
<plugin name="cordova-plugin-network-information" source="npm"/>
<plugin name="cordova-plugin-secure-key-store" source="npm"/>
<plugin name="cordova-plugin-splashscreen" source="npm"/>
<plugin name="cordova-plugin-whitelist" source="npm"/>
<allow-intent target="_blank" target="_blank" target="_blank" href="http://*/*"/>
<allow-intent target="_blank" target="_blank" target="_blank" href="https://*/*"/>
<allow-navigation href="*" />
<access origin="*" subdomains="true" />
</widget>